<!doctype html>
<html lang="en">
  <body>
    <h2>You received a friend request 👋</h2>
    <p>{{ requester.firstName }} {{ requester.lastName }} sent you a friend request.</p>
    <p>You can accept or reject it from your friends section.</p>
  </body>
</html>
